@{
	ViewBag.Title = "Home Page";
}

<div class="row">
	<div class="col-md-1 sidebar">

	</div>
	<div class="col-md-10 main-column">
		<div class="row main-logo">
			<div class="col-xs-5 hidden-xs img-responsive text-right">
				<img class="img-circle" src="~/Content/images/logo.jpg" />
			</div>
			<div class="col-xs-7">
				<p><h1>TourOn</h1></p>
			</div>
		</div>
		<div class="row text-row">
			<div class="col-md-10 col-md-offset-1 text-center home-text">
				<p>
					Welcome to TourOn, the site for bands and venues to share information with each other. Register an account today -
					it's free and easy!
				</p>
			</div>
		</div>
		<div class="row button-row">
			<div class="text-center">
				@Html.ActionLink("Register Band", "RegisterBand", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default registerButton registerBand", id = "registerLink" })
				@Html.ActionLink("Register Venue", "RegisterBand", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default registerButton registerVenue", id = "registerLink" })
			</div>
		</div>
	</div>
	<div class="col-md-1 sidebar">

	</div>
</div>
